.questions {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../questionImg.png") 70% 64%/ 23% 30% no-repeat;

  .container {
    width: 1070px;


    .head {
      padding-bottom: 55px;

      .question-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: row;

        .question-item {
          padding: 7px 15px;
          border-radius: 50%;
          border: 1px solid #0D356C;
          box-sizing: border-box;
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 24px;
          /* identical to box height, or 109% */
          color: #0D356C;
          position: relative;

          &:first-child {
            &:before {
              display: none;
            }
          }

          &:before {
            content: '';
            position: absolute;
            width: 100px;
            height: 1px;
            background: #0D356C;
            left: -300%;
            top: 50%;
          }

          &.active {
            background: #0D356C;
            color: #FFFFFF;
          }
        }
      }
    }

    .question-text {
      h1 {
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        /* or 100% */
        color: #262C40;
        margin-bottom: 0;
      }
    }

    .variants {
      .answer {
        position: relative;
        label {
          font-family: Proxima Nova, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
          color: #262C40;
        }

        input.custom-checkbox {
          width: 24px;
          height: 24px;
        }

        .custom-checkbox {
          opacity: 0;
          position: relative;
          left: 0;
          bottom: -27px;
        }

        .custom-checkbox + label {
          display: flex;
          align-items: center;
          user-select: none;

          &:before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 20px;
            border: 1px solid #0057B6 !important;
            box-sizing: border-box !important;
            border-radius: 1px !important;
            flex-shrink: 0;
            flex-grow: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            //transition: all .3s ease;
          }
        }

        .custom-checkbox:checked + label::before {
          border-radius: 1px;
          color: #fff;
          background: #0057B6 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='15px' height='10px' viewBox='0 0 15 10'%3e%3cpath fill='none' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M1 4.63636L5.58824 9L14 1' stroke='white'/%3e%3c/svg%3e") 50% 50% no-repeat;
        }
      }
    }

    .submit {
      margin-top: 60px;

      .sub-btn {
        font-family: Proxima Nova, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height, or 156% */
        color: #FFFFFF;
        background: #0057B6;
        border-radius: 1px;
        padding: 13px 55px;
        cursor: pointer;
      }
    }
  }
}



